:root {
    --ff-base:'Source Sans Pro', sans-serif;
    --ff-accent: font-family: 'Roboto', sans-serif;
    --fw-regular: 400;
    --fw-bolder: 600;
    --fw-boldest: 700;
}


/* CSS reset sheet from Josh Comeau */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
        /* box-sizing: border-box; */
  }
  /*
    2. Remove default margin
  */
  * {
        margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
        height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
        font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
  }
  
/*hiding all the blogs for the smaller screen size  */

.blog-four-main, 
.blog-five-main,
.blog-six-main,
.blog-four-blog,
.blog-four-profile {
    display: none;
}

/* nav bar for top of page */
.nav-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      max-width: 100%;
      
}

.home-link,
.blog-link,
.about-me-link {
    text-decoration: none;
    cursor: pointer;
}

.home-link {
    color: #0e0e0e;
    font-family: var(--ff-accent);
    font-weight: var(--fw-boldest);
    font-size: .85rem;
    display: flex;
    align-items: center;
    margin-left: 1.25em;
}

.link-container {
    display: flex;
    gap: 1.25em;
    padding-right: 1em;
}

.blog-link,
.about-me-link {
    color: #090909;
    text-transform: uppercase;
    font-family: var(--ff-base);
    font-weight: var(--fw-bolder);
    font-size: .75rem;
}

/* main page hero section  */

.main-hero-section {
    background-image: url("./images/halo-hero.png");
    background-repeat: no-repeat;
    height: 293px;
    width: 414px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.main-hero-container {
    color: #ffffff;
    font-family: var(--ff-base);
    max-width: 375px;
    padding: 0 0 2em 1em;
}

.main-hero-date {
    text-transform: uppercase;
    font-size: .75rem;
}

.main-hero-title {
    font-size: 2rem;
    line-height: 34px;
    margin: .25em 0;
}

.main-hero-text {
    line-height: 20px;
}

/* main page blog section */

.blog-section-main,
.blog-section-blog,
.blog-section-profile {
    width: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    font-family: var(--ff-base);

}

.blog-one-img, 
.blog-two-img,
.blog-three-img {
    margin-bottom: .5em;
}

.blog-one-span,
.blog-two-span, 
.blog-three-span {
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 18px;
    color: #000000;
    
}

.blog-one-title,
.blog-two-title,
.blog-three-title {
    font-size: 1.5rem;
    line-height: 26px;
    color: #141414;
    margin: .25em 0;
}

.blog-one-text,
.blog-two-text,
.blog-three-text {
    color: #505050;
    line-height: 20px;
    margin-bottom: 2em;
}

.view-more-blogs {
    color: #000000;
    font-weight: var(--fw-boldest)
}

/* blog page */
.blog-hero-container,
.text-section-container {
    width: 374px;
    margin: 1.5em auto;
    font-family: var(--ff-base);
}

.blog-hero-date,
.blog-hero-title,
.blog-hero-text,
.text-section-container {
    color: #151515;
}

.blog-hero-date {
    font-size: .75rem;
    line-height: 15px;
}

.blog-hero-title {
    font-size: 2rem;
    line-height: 34px;
    margin: .5em 0;
}

.blog-hero-text,
.text-section-container {
    line-height: 20px;
    margin-bottom: 2em;
}

.text-p-one,
.text-p-two,
.text-p-three,
.text-p-four {
    margin: 1.5em 0;
}

.recent-posts {
    color: #000000;
    font-weight: var(--fw-boldest);
    line-height: 20px;
    margin-bottom: 1.5em;
}

/* profile page */

.profile-hero-section {
    font-family: var(--ff-base);
}

.profile-hero-container {
    width: 374px;
    margin: 0 auto;
}

.profile-hero-img {
    border-radius: 50%;
    height: 182px;
    width: 182px;
    object-fit: cover;
    margin-top: 1.25em;
}

.profile-hero-title {
    font-size: 2.2rem;
    line-height: 38px;
    margin: .5em 0;
}

.profile-hero-text {
    line-height: 20px;
    margin: .5em 0 3em 0;
}


/* footer */
footer {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #202020;
    font-size: .75rem;
}

.footer-title {
    color: #ececec;
    font-weight: var(--fw-boldest);
}
.copyright {
    color: #d7d7d7;

}

/* ***********media queries*********** */

/*tablet size 768px and larger */
@media (min-width: 768px) {


/* main page showing the hidden blogs  */

.blog-four-main, 
.blog-five-main,
.blog-six-main {
    display: block;
}

/*main page blog stying */

.blog-section-main {
    display: grid;
    grid-template: auto auto auto auto / 326px 326px;
    width: fit-content;
}

.blog-one-img, 
.blog-two-img,
.blog-three-img {
    height: 232px;
    object-fit: cover;
    border-radius: 3px;
}

.blog-one-main, 
.blog-two-main,
.blog-three-main,
.blog-four-main, 
.blog-five-main,
.blog-six-main {
        width: 309px;
}

.blog-four-img, 
.blog-five-img,
.blog-six-img {
    margin-bottom: .5em;
    border-radius: 3px;
}

.blog-four-span,
.blog-five-span, 
.blog-six-span {
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 18px;
    color: #000000;
}

.blog-four-title,
.blog-five-title,
.blog-six-title {
    font-size: 1.5rem;
    line-height: 26px;
    color: #141414;
    margin: .25em 0;
}

.blog-four-text,
.blog-five-text,
.blog-six-text {
    color: #505050;
    line-height: 20px;
    margin-bottom: 2em;
}

.view-more-blogs {
    grid-column: 1 / -1;
    justify-self: center;

}

/* 1058px and larger */ 

@media (min-width: 1058px) {

/*main page hero section */
.main-hero-section {
    background-image: url("./images/blog-image-hero.png");
    background-repeat: no-repeat;
    width: 1058px;
    height: 488px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.main-hero-container {
    max-width: 657px;
    padding: 0 0 2em 2em;
}

.blog-section-main {
    display: grid;
    grid-template: auto auto auto / 326px 326px 326px;
    width: fit-content;
}

/* blog page */

.blog-hero-container {
    width: 979px;
}

.blog-hero-img {
    content: url("./images/blog-image-hero.png");
    width: 100%;
    height: 488px;
}

.blog-intro-text {
    max-width: 842px;
    margin: 0 auto;
}

.blog-hero-title,
.blog-hero-text {
    max-width: 842px;
}

.text-section-container {
    width: 844px;
}
.blog-section-blog, 
.blog-section-profile {
    display: grid;
    grid-template: auto 393px/ 309px 309px 309px;
    width: 979px;
    gap: 26px;
}

.recent-posts {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 1.5rem;
}

/* profile page */

.profile-hero-container {
    width: 979px;
    display: grid;
    grid-template: 91px 91px / 182px 764px;
    gap: 1em;
    
}

.profile-hero-title,
.profile-hero-text {
    margin-top: 1em;
}

.profile-hero-text {
    grid-column: 2
}

.text-section {
    margin-top: 4em;
}


}


}